body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#root,
body,
html {
    width: 100%
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.health {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px
}

.health .heart {
    width: 12px
}

.armor {
    display: flex;
    flex-direction: row;
    align-items: center
}

.armor .armor-icon {
    width: 12px
}

.message-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99997
}

.message {
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ddd
}

.app {
    min-height: 100vh;
    overflow-x: hidden
}

content {
    width: 100vw;
    margin-top: 64px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    min-height: calc(100vh - 64px)
}

content .server-status {
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content
}

content .server-status .ant-card {
    margin: 10px
}

content .server-list {
    flex: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch
}

content .server-list .server-item {
    width: 50%;
    min-width: 300px;
    flex: auto;
    background-repeat: repeat-x;
    background-size: cover;
    color: #fff;
    position: relative
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px hsla(0, 0%, 100%, .6);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 1;
    background-color: #001529
}

.header .logo {
    height: 42px;
    border-radius: 4px
}

.header .title {
    color: #fff;
    font-size: 28px;
    margin-left: 10px
}

a,
footer {
    -webkit-user-select: none;
    user-select: none
}

.ant-progress-circle .ant-progress-text {
    color: #e4e8ec;
    font-weight: 700
}

.server-status .item {
    width: 200px;
    display: flex;
    color: #e4e8ec;
    flex-direction: column
}

content .server-list .server-item .body {
    min-height: 30px;
    padding: 10px 10px 38px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

content .server-list .server-item .body .user-list {
    width: 100%;
    flex: 1 1;
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

content .server-list .server-item .body .user-list .ant-card {
    margin: 10px
}

content .server-list .server-item .body .user-list .user-list {
    display: flex;
    flex-direction: column
}

.app-disable {
    overflow: hidden;
    height: 100vh;
    width: 100vw
}